body {
    margin: 20px;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #FFFFFF;
    overflow: auto;
}
h1 {
    font-size: 26px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

button {
    border: 1px solid #a8a8a8;
    background: #F5F5F5;
    color: #4f4f4f;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

table.layout_table {
    width: 600px;
}

table.result {
    width: 100%;
    border-collapse: collapse;
}

tr.result_odd {
    background: none repeat scroll 0 0 #F5F5F5;
}

td.result {
    border-width: 1px;
    border-color: #a8a8a8;
    border-style: solid;
    padding: 5px;
}

th.result {
    border-width: 1px;
    border-color: #a8a8a8;
    border-style: solid;
    padding: 5px;
    background: #c4c4c4;
    cursor: pointer;
}
