body {
    margin: 20px;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #FFFFFF;
    overflow: auto;
}
h1 {
    font-size: 26px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

form input[type="submit"], button {
    border: 1px solid #a8a8a8;
    background: #F5F5F5;
    color: #4f4f4f;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

div#main {
    margin-left: auto; 
    margin-right: auto; 
    width: 600px
}

div#info {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    width: 300px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    opacity: 0,8;
    margin-left: auto;
    margin-bottom: auto;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: dodgerblue;
}

div#error {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    width: 300px;
    height: 40px;
    background-color: tomato;
    opacity: 0,8;
    margin-left: auto;
    margin-bottom: auto;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: tomato;
}

table.result {
    width: 100%;
    border-collapse: collapse;
}

td.result {
    padding: 15px;
}


th.result {
    background: linear-gradient(#B4D179, #8AB92A);
    padding: 15px;
    cursor: pointer;
}

th.result:first-child { border-radius: 9px 0 0 0; }
th.result:last-child { border-radius: 0 9px 0 0; }
tr.result:last-child td:first-child { border-radius: 0 0 0 9px; }
tr.result:last-child td:last-child { border-radius: 0 0 9px 0; }
tr.result:nth-child(even) { background: #B4D179; }
tr.result:nth-child(odd) { background: #E6F8C0; }

.edit{
    cursor: pointer;
}